<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Ecosia">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_ecosia_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver android:name=".ui.EcosiaPlayerWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ecosia_widget_provider" />
        </receiver>

        <service
            android:name=".services.EcosiaAudioPlayerService"
            android:exported="false"/>

    </application>

</manifest>
